.sidebar {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 100vh;
  color: light-dark(var(--light-color), var(--dark-color));
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  padding: 20px;
  position: fixed;
  left: 0vw;
  overflow-y: auto;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  margin-bottom: 10px;
}

.sidebar-button {
  width: 100%;
  border: 0;
  font-size: x-large;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  transition: all 0.2s ease;
}

.sidebar-button:hover {
  background-color: light-dark(#f0f0f0, #1a1a1a);
}

.sidebar-button.active {
  /* underline the active section */
  font-weight: bold;
  text-decoration: underline;
}

