* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: xx-large;
  padding: 8px;
  cursor: pointer;
  z-index: 1000;
}


@media print {
  .app {
    display: block;
  }
}
