@font-face {
  font-family: "PixelOperator";
  src: url(/fonts/PixelOperator.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PixelOperator";
  src: url(/fonts/PixelOperator-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: "PixelOperatorMono";
  src: url(/fonts/PixelOperatorMono.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PixelOperatorMono";
  src: url(/fonts/PixelOperatorMono-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: bold;
}


:root {
  --color-bg: black;
  --color-fg: white;

  font-family: "PixelOperator";
  font-style: normal;
}

[data-theme="dark"] {
  --color-bg: black;
  --color-fg: white;
}

[data-theme="light"] {
  --color-bg: white;
  --color-fg: black;
}

[data-theme="cat"] {
  --color-bg: purple;
  --color-fg: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}